
<md-card *ngIf="viewType == EventViewType['RECOMMENDED']" fxLayout="column" class="common-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>{{event.name}}</md-card-title>
    <md-card-subtitle>{{event.startTime}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image class="center-cropped" [alt]="event.name" src="{{event.src != null ? event.src : 'images/no-image-box.png'}}">
  <md-card-content>
    <p>
      {{event.description}}
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>

<div *ngIf="viewType == EventViewType['COMMON']" class="recommended-card">
  <md-card>
  <img md-card-image class="center-cropped" src="{{event.src != null ? event.src : 'images/no-image-box.png'}}">
  </md-card>
  <span></span>
</div>