<md-sidenav-container>
  <md-sidenav>
    <!-- sidenav content -->
  </md-sidenav>

  <app-header></app-header>
  <!-- primary content -->
    <router-outlet></router-outlet>
 </md-sidenav-container>


