<div class="container"
     fxLayout="row"
     fxLayoutWrap
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap.xs="0">
    <h4>Your Events</h4>
     <div fxLayout fxLayoutGap="20px" fxFlex="60">
       <app-event-card fxFlex *ngFor="let event of eventsRecommended" [event]="event" [viewType]="EventViewType['RECOMMENDED']"></app-event-card>
     </div>
     <div fxLayout fxLayoutGap="20px" fxFlex>
     </div>
    
</div>

<div class="container"
     fxLayout="row"
     fxLayoutWrap
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
     <h4>Discover</h4>
  <!--<div class="item item-4" fxFlex fxFlexOffset="50px"  fxFlexOffset.xs="0">-->
    <app-event-card fxFlex *ngFor="let event of facebookEvents" [event]="event" [viewType]="EventViewType['COMMON']"></app-event-card>
  <!--</div>-->
  <!--<div class="item item-5" fxFlex="200px">Item 5</div>-->
</div>
